<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ejs</title>
  <link rel="stylesheet" href="../public/main.css">
</head>
<body>
  <h1>안녕하세요</h1>
  <p><%= "Hello" + "world" %></p>
  <p><%= 10 - 2 %></p>
  <p><%= true ? "참" : "거짓" %></p>
  <p><%= false ? "참" : "거짓" %></p>
  <div>
    <% let str = "hello" %>
    <%= str %>
  </div>
   <div>
    <% let arr = ["apple", "banana", "cherry"] %>
    <% arr.forEach((fruit) => { %>
      <h3><%= fruit %> 입니다.</h3>
    <% }) %>
   </div>
   <div>
    <% for(let person of people){ %>
      <li><%= person.name %></li>
    <% } %>
   </div>
   <div>
    <% for(let pp of people){ %>
      <% if( pp.age >= 18 ){ %>
        <%=pp.name%> : "pass"
      <% }else {%>
        <%=pp.name%> : "reject"
        <% } %>
    <% } %>
   </div>
   
   <div class="container">
      <h1>list</h1>
      <form action="/addTask" method="POST">
        <input type="text" name="newTask" placeholder="할 일 목록 추가">
        <button type="submit">추가</button>
      </form>
      <ul>
        <% tasks.forEach(task => { %>
        <li>
          <%= task %>
          <form action="/deleteTask" method="POST">
            <input type="hidden" name="task" value="<%= task %>">
            <button>지우기</button>
          </form>
        </li>
        <% }) %>
      </ul>
      <ul>
        <% users2.forEach(user => {%>
        <li>
          name: <%= user.name %> / age: <%= user.age %> / role: <%= user.role %>
          <%= user.age >= 18 ? "pass" : "reject" %>
        </li>
        <% })  %>
      </ul>
   </div>
</body>
</html>