<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ejs</title>
</head>
<body>
  <h1>안녕하세요</h1>
  <p><%= message %></p>
  <p><%= "Hello" + "world" %></p>
  <p><%= 10 - 2 %></p>
  <p><%= true ? "참" : "거짓" %></p>
  <p><%= false ? "참" : "거짓" %></p>
  <p><%= "<h3>Hello</h3>"" %></p>
  <div>
    <% let str = "hello" %>
    <%= str %>
  </div>
  <div>
    <% if(true) { %> 
      <h2>출력!!</h2>
    <% } %>
    <% if(false) { %> 
      <h2>출력 안됌!!</h2>
    <% } %>
   </div>
   <div>
    <% if(ture) { %>
      <div>cka</div>
    <% }else { %>
      <div>거짓</div>
    <% } %>
   </div>
</body>
</html>